.navbar-expand-xl {
  display: flex;
  justify-content: flex-end;
  min-width: 95vw;
}

.zazous-nav-logo {
  width: 50px;
  height: 50px;
  margin-top: -24px;
  margin-right: -1px;
}

.logo-container {
  margin-top: 0px !important;
}

.nav-link,
.dropdown-item {
  color: var(--primary-color);
}

.nav-link.active,
.dropdown-item.active,
.nav-link:hover,
.dropdown-item {
  transition: all ease-in-out 0.3s;
}

.nav-link.active,
.dropdown-item.active,
.nav-link:hover,
.dropdown-item:hover {
  color: var(--secondary-color);
  background-color: white;
}

.navbar-brand {
  font-size: 35px;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  /* font-style: italic; */
}

.navbar-brand:hover {
  color: var(--primary-color);
  pointer-events: none;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  font-family: var(--secondary-font);
}

.navbar-collapse {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
}

.dropdown-menu {
  animation: fadeIn 0.5s;
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.toggle-menu {
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  color: white;
  border: 1px solid var(--border-color);
  text-shadow: var(--text-shadow-light);
}

.dropdwon-menu-slide {
  transition: max-height 1s ease;
  overflow: hidden;
  max-height: 0;
}

/* screen sizes */
@media (min-width: 1300px) {
  .navbar-expand-xl {
    min-width: 1300px;
  }
}

@media (max-width: 1199px) {
  .navbar {
    margin-bottom: 0px !important;
  }
  .zazous-nav-logo {
    width: 40px;
    height: 40px;
    margin-top: -19px;
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 2rem);
    margin: 0;
    margin-top: 10px;
  }
  .navbar-expand-xl {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
  }
  .nav-link {
    text-align: center;
  }
  .dropdown-item {
    text-align: center;
    position: sticky;
  }
  .toggle-menu {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0px !important;
  }
  .zazous-nav-logo {
    width: 40px;
    height: 40px;
    margin-top: -19px;
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 2rem);
    margin: 0;
    margin-top: 10px;
  }
  .navbar-expand-xl {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
  }
  .nav-link {
    text-align: center;
  }
  .dropdown-item {
    text-align: center;
  }
  .toggle-menu {
    width: 100%;
  }
}

/* Navbar Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
