.event-title {
  color: var(--primary-color);
  width: 50%;
  padding: 10px;
  margin: auto;
}

.sign-up-subtext {
  font-family: var(--secondary-font);
  color: var(--text-color);
}

.email-form {
  font-family: var(--secondary-font);
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.event-btn {
  padding: 10px;
  width: 150px;
}

@media (max-width: 768px) {
  .event-title {
    width: 100%;
    font-size: 30px;
  }
  .email-form {
    width: 95%;
  }
  .event-card {
    margin-bottom: 1.25rem;
  }
}

/* screen size */
@media (max-width: 768px) {
  .event-page-card {
    margin-top: -0.75rem !important;
  }
  .contact-btn {
    margin-top: 1.75rem !important;
    margin-bottom: -0.5rem;
  }
}

/* animations */

.event-animation {
  opacity: 0;
}
.event-animation-1 {
  animation: slideInDownSlow 0.75s ease-in-out forwards 0.2s;
}
.event-animation-2 {
  animation: slideInDownSlow 0.75s ease-in-out forwards 0.2s;
}
.event-animation-3 {
  animation: slideInLeftSlow 1s ease-in-out forwards 0.4s;
}
.event-animation-4 {
  animation: slideInRightSlow 1s ease-in-out forwards 0.4s;
}
.event-animation-5 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1s;
}
.event-animation-6 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.2s;
}
.event-animation-7 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.4s;
}
.event-animation-8 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.5s;
}
.event-animation-9 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.6s;
}
.event-animation-10 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.7s;
}
.event-animation-11 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.8s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
