.event-card {
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  position: relative;
}

.event-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 100%;
  position: absolute;
  top: 0;
}

.card-body {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}

.event-card-title {
  font-family: var(--primary-font);
  font-size: 32px;
  color: var(--secondary-color);
}

.event-card-subtitle {
  color: var(--secondary-color) !important;
}

.event-card-text {
  font-family: var(--secondary-font) !important;
  font-size: 18px;
  text-align: justify;
  color: var(--text-color);
  margin-top: 70px;
}
