.flowergirl-text {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: justify;
}

.flowergirl-promotion {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: -1.5rem;
}

.flowergirl-card {
  height: 350px;
  width: 250px;
}

.flowergirl-card img {
  height: 350px;
  width: 250px;
}

.flowergirl-card div {
  width: 250px;
  bottom: -40px;
  right: -20px;
}

.flowergirl-card h4 {
  font-size: 20px;
}

.flowergirl-card p {
  display: none;
}

/* screen size */
@media (max-width: 768px) {
  .flowergirl-text {
    margin-bottom: 2rem !important;
  }
  .flowergirl-container {
    margin-bottom: -2rem;
  }
  .dress-card-spacer {
    display: none;
  }
  .four-card-row {
    margin-top: -2rem !important;
  }
}

/* animations */

.flowergirl-animation {
  opacity: 0;
}
.flowergirl-animation-1 {
  animation: slideInDownSlow 0.75s ease-in-out forwards 0.2s;
}
.flowergirl-animation-2 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.4s;
}
.flowergirl-animation-3 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.6s;
}
.flowergirl-animation-4 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.8s;
}
.flowergirl-animation-5 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1s;
}
.flowergirl-animation-6 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.2s;
}
.flowergirl-animation-7 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.4s;
}
.flowergirl-animation-8 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.6s;
}
.flowergirl-animation-9 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.8s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* screen sizes */
@media (max-width: 1199px) {
  .flowergirl-card div {
    width: 220px;
    bottom: -40px;
    right: -20px;
  }
}
@media (max-width: 768px) {
  .flowergirl-card div {
    width: 250px;
    bottom: -40px;
    right: -20px;
  }
}
