footer {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}

.back-to-top-btn {
  display: none;
}

.social-buttons {
  margin-bottom: 10px;
}

.social-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--primary-color);
  color: #fff;
  transition: all ease-in-out 0.3s;
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
}

.social-button.facebook:hover {
  background-color: #0f60b5; /* Darker shade of blue */
}

.social-button.email:hover {
  background-color: #00aeff;
}

.social-button.pinterest:hover {
  background-color: #b8001d; /* Darker shade of red */
}

.social-button.instagram:hover {
  background-color: #dd5068; /* Darker shade of pink/purple */
}

.social-button svg {
  width: 22px;
  height: 22px;
}

.logo-container {
  margin-top: 20px;
}

.logo-container img {
  max-width: 200px;
}

/* screen size */

@media (max-width: 767px) {
  .back-to-top-btn {
    display: inline;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    text-shadow: var(--text-shadow-light);
    font-family: var(--secondary-font) !important;
    box-shadow: var(--shadow);
    color: white;
    transition: all ease-in-out 0.3s;
    margin-top: 1.25rem !important;
  }
  .back-to-top-btn:hover {
    transform: translateY(-3px);
  }
  .logo-container {
    margin-top: 0rem !important;
  }
}

/* animations */

.footer-animation {
  opacity: 0;
}

.footer-animation-2 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 2.2s;
}
.footer-animation-3 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 2.4s;
}
.footer-animation-4 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 2.6s;
}
.footer-animation-5 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 2.8s;
}
.footer-animation-6 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 3s;
}
.footer-animation-7 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 3s;
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
