.carousel {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

/* Hero Text/Button */

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
}

.hero-text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-family: var(--secondary-font);
}

/* Home Info */
.home-info {
  margin-top: 15px;
}

/* Table */

table {
  border-collapse: collapse;
  border: none;
  font-family: var(--secondary-font);
}

table th,
table td,
table tr {
  border: none;
}

/* screen sizes */
@media (max-width: 767px) {
  .info-title {
    padding-top: 8px;
  }
  .info-box {
    width: 90vw;
    margin: auto;
    margin-bottom: 1.5rem;
  }
  .thumbnail-spacer {
    height: 70px;
  }
  .home-store-hours {
    margin-top: 10px !important;
  }
}

/* animations */
.hero-button,
.hero-text,
.info-box,
.logo-image,
.wedding-wire-container {
  opacity: 0;
  transform: translateX(-50%);
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0);
  }
}
