.carousel {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

/* Hero Text/Button */

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
}

.hero-text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-family: var(--secondary-font);
}

/* Home Info */
.home-info {
  margin-top: 15px;
}

/* Table */

table {
  border-collapse: collapse;
  border: none;
  font-family: var(--secondary-font);
}

table th,
table td,
table tr {
  border: none;
}

/* screen sizes */
@media (max-width: 767px) {
  .info-title {
    padding-top: 8px;
  }
  .info-box {
    width: 90vw;
    margin: auto;
    margin-bottom: 1.5rem;
  }
  .thumbnail-spacer {
    height: 70px;
  }
  .home-store-hours {
    margin-top: 10px !important;
  }
  .hero-text {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .hero-btn {
    margin-bottom: 0.75rem;
  }
  .home-store-awards {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .home-store-info {
    margin-top: 0 !important;
  }
}

/* animations */

.home-animation {
  opacity: 0;
}
.home-animation-1 {
  animation: slideInDownSlow 0.75s ease-in-out forwards 0.2s;
}
.home-animation-2 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.4s;
}
.home-animation-3 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.6s;
}
.home-animation-4 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.8s;
}
.home-animation-5 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1s;
}
.home-animation-6 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.2s;
}
.home-animation-7 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.4s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
