.navbar-expand-xl {
  display: flex;
  justify-content: flex-end;
  min-width: 95vw;
}

.nav-link,
.dropdown-item {
  color: var(--primary-color);
}

.nav-link.active,
.dropdown-item.active,
.nav-link:hover,
.dropdown-item:hover {
  color: var(--secondary-color);
}

.navbar-brand {
  font-size: 35px;
  font-style: italic;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-collapse {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
}

.dropdown-menu {
  animation: fadeIn 0.5s;
}

.toggle-menu {
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* screen sizes */
@media (min-width: 1300px) {
  .navbar-expand-xl {
    min-width: 1300px;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl {
    justify-content: space-around !important;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 2rem);
    margin: 0;
    margin-top: 5px;
  }
  .navbar-expand-xl {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
  }
  .nav-link {
    text-align: center;
  }
  .dropdown-item {
    text-align: center;
  }
  .toggle-menu {
    width: 100%;
  }
}

/* Navbar Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
