.main-img {
  height: 555px;
  width: 6600px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.small-img {
  border-radius: var(--border-radius);
  width: 330px;
  height: 205px;
  object-fit: cover;
}

.story-text {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: justify;
  color: var(--text-color);
}

/* screen sizes */
@media (max-width: 767px) {
  .story-text {
    text-align: justify;
  }
  .main-img {
    height: 400px;
  }
  .our-story-btn {
    margin-top: 0rem;
    margin-bottom: 0.25rem;
  }
}

/* animations */

.our-story-animation {
  opacity: 0;
}
.our-story-animation-1 {
  animation: slideInLeftSlow 0.75s ease-in-out forwards 0.2s;
}
.our-story-animation-2 {
  animation: slideInRightSlow 0.75s ease-in-out forwards 0.4s;
}
.our-story-animation-3 {
  animation: slideInRightSlow 0.75s ease-in-out forwards 0.5s;
}
.our-story-animation-4 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.7s;
}
.our-story-animation-5 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.9s;
}
.our-story-animation-6 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1s;
}
.our-story-animation-7 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.1s;
}
.our-story-animation-8 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.2s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
