.past-event-card {
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.list-group-item {
  margin-top: 1rem;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: normal;
  list-style: circle !important;
}

.bullet-point {
  margin-right: 5px;
  color: var(--primary-color);
  font-size: 1.25rem;
}
