.plan-appointment-title {
  text-align: center !important;
}

.plan-appointment-text {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: var(--text-align);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}

.plan-appointment-strong {
  color: var(--primary-color);
  font-size: 20px;
}

.plan-list {
  padding: 0;
}

/* screen sizes */
@media (max-width: 768px) {
  .plan-appointment-header {
    text-align: var(--text-align) !important;
  }
}

/* animations */

.plan-appointment-animation {
  opacity: 0;
}
.plan-appointment-animation-1 {
  animation: slideInDownSlow 0.5s ease-in-out forwards 0.2s;
}
.plan-appointment-animation-2 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.4s;
}
.plan-appointment-animation-3 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 0.6s;
}
.plan-appointment-animation-4 {
  animation: slideInUpSlow 0.6s ease-in-out forwards 0.8s;
}
.plan-appointment-animation-5 {
  animation: slideInUpSlow 0.6s ease-in-out forwards 1s;
}
.plan-appointment-animation-6 {
  animation: slideInUpSlow 0.6s ease-in-out forwards 1.2s;
}
.plan-appointment-animation-7 {
  animation: slideInUpSlow 0.6s ease-in-out forwards 1.4s;
}
.plan-appointment-animation-8 {
  animation: slideInUpSlow 0.6s ease-in-out forwards 1.6s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
