.store-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  border-top-right-radius: calc(var(--border-radius) - 1px);
  border-top-left-radius: calc(var(--border-radius) - 1px);
  border-bottom: 1px solid var(--border-color);
  align-self: flex-start;
  position: absolute;
  top: 0;
}

.store-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.store-info {
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: -4rem;
}

.title-text {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
}

.info {
  font-size: 20px !important;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

.at-sign {
  font-family: var(--primary-font);
  font-weight: bold;
}

/* custom styles */
.contact-store-hours,
.contact-store-info {
  width: 89%;
}

.home-store-hours,
.home-store-info {
  width: 48%;
  max-width: 550px;
}

/* screen sizes */
@media (max-width: 767px) {
  .info-box {
    width: 90vw;
    margin: auto;
  }
  .info-title {
    padding-top: 8px;
  }
  .info {
    font-size: 18px !important;
  }
}
