.info-box {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  height: 335px;
}

.store-hours-table th {
  color: var(--text-color);
  background-color: transparent;
}

.store-hours-table td {
  color: var(--text-color);
  background-color: transparent;
}

@media (max-width: 767px) {
  .info-box {
    width: 90vw;
    margin: auto;
  }
}
