.suits-larger-img {
  height: 450px;
  width: 350px;
  object-fit: cover;
}

.suits-smaller-img {
  width: 350px;
}

.suits-tuxedos-img {
  object-fit: cover;
  border-radius: var(--border-radius);
}

.suits-tuxedos-text {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: var(--text-color);
}

.suits-tuxedos-promotion-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suits-tuxedos-promotion {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: -1.5rem;
}

.suits-tuxedos-btn {
  max-width: fit-content;
}

/* screen size */
@media (max-width: 768px) {
  .suits-tuxedos-img {
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
  }
  .suits-tuxedos-btn {
    margin-bottom: 0.25rem;
  }
  .suits-tuxedos-text {
    text-align: var(--text-align) !important;
    margin-top: -0.25rem !important;
  }
  .suits-tuxedos-text p:nth-child(1) {
    margin-bottom: 0.5rem !important;
  }
  .suits-tuxedos-text p:nth-child(2) {
    margin-bottom: 0.25rem !important;
  }
  .suits-tuxedos-text p:nth-child(3) {
    margin-bottom: -1.5rem !important;
  }
}

/* animations */

.suits-tuxedos-animation {
  opacity: 0;
}
.suits-tuxedos-animation-1 {
  animation: slideInDownSlow 0.75s ease-in-out forwards 0.2s;
}
.suits-tuxedos-animation-2 {
  animation: slideInDownSlow 0.75s ease-in-out forwards 0.4s;
}
.suits-tuxedos-animation-3 {
  animation: slideInRightSlow 0.75s ease-in-out forwards 0.6s;
}
.suits-tuxedos-animation-4 {
  animation: slideInDownSlow 0.75s ease-in-out forwards 0.8s;
}
.suits-tuxedos-animation-5 {
  animation: slideInLeftSlow 0.75s ease-in-out forwards 1s;
}
.suits-tuxedos-animation-6 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.2s;
}
.suits-tuxedos-animation-7 {
  animation: slideUpPopAnimation 1.25s ease-in-out forwards 1.3s;
}
.suits-tuxedos-animation-8 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.5s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
