.thank-you-review-message {
  width: 60%;
  box-shadow: var(--shadow);
}

/* screen size */
@media (max-width: 768px) {
  .thank-you-review-message {
    width: 90%;
  }
}

/* animations */

.thank-you-review-animation {
  opacity: 0;
}
.thank-you-review-animation-start {
  animation: slideInUpSlow 0.75s ease-in-out forwards;
}
.thank-you-review-animation-1 {
  animation: slideUpPopAnimation 0.75s ease-in-out forwards 0.8s;
}
.thank-you-review-animation-2 {
  animation: slideInUpSlow 0.5s ease-in-out forwards 1.2s;
}
.thank-you-review-animation-3 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.4s;
}
.thank-you-review-animation-4 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.6s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
