.thank-you-email-list {
  width: 700px;
  box-shadow: var(--shadow);
  height: 335px;
  margin-bottom: 6rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.thank-you-email-list-heading {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

@media (max-width: 991px) {
  .thank-you-email-list {
    margin-bottom: 1rem;
  }
}

/* screen size */

@media (max-width: 991px) {
  .thank-you-email-list {
    width: 100%;
  }
}

/* animations */

.thank-you-email-list-animation {
  opacity: 0;
}
.thank-you-email-list-animation-start {
  animation: slideInUpSlow 0.75s ease-in-out forwards;
}
.thank-you-email-list-animation-1 {
  animation: slideUpPopAnimation 1s ease-in-out forwards 0.85s;
}
.thank-you-email-list-animation-2 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.05s;
}
.thank-you-email-list-animation-3 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.25s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
