.thank-you-contact-message {
  width: 100%;
  box-shadow: var(--shadow);
  height: 365px;
  margin-bottom: 6rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text-color);
  position: relative;
  z-index: 10;
}

.thank-you-contact-message-heading {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}

.thank-you-contact-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  height: 365px !important;
}

@media (max-width: 991px) {
  .thank-you-contact-message {
    margin: auto;
    margin-bottom: 1rem;
    max-width: 442px;
  }
}

@media (max-width: 768px) {
  .thank-you-contact-row {
    width: 100% !important;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .thank-you-contact-message {
    max-width: 95dvw;
    width: 90dvw;
  }
}

/* animations */

.thank-you-contact-animation {
  opacity: 0;
}
.thank-you-contact-animation-start {
  animation: slideInUpSlow 0.75s ease-in-out forwards;
}
.thank-you-contact-animation-1 {
  animation: slideUpPopAnimation 0.75s ease-in-out forwards 0.8s;
}
.thank-you-contact-animation-2 {
  animation: slideInUpSlow 0.5s ease-in-out forwards 1s;
}
.thank-you-contact-animation-3 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.2s;
}
.thank-you-contact-animation-4 {
  animation: slideInUpSlow 0.75s ease-in-out forwards 1.4s;
}

@keyframes slideInLeftSlow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUpSlow {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDownSlow {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpPopAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
