.navbar {
  width: 90vw;
}

.navbar-brand {
  font-size: 35px;
  padding: 5px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.dropdown-menu {
  animation: fadeIn 0.5s;
}

/* Navbar Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
