:root {
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Fonts */
  --primary-font: "Playfair Display", serif !important;
  --secondary-font: "Cabin", sans-serif !important;

  /* Colors */
  --primary-color: #e9b1a6;
  --secondary-color: #000000;
  --border-color: #eca99c;

  /* Utilities */
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3),
    1px -1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.3),
    1px 1px 1px rgba(0, 0, 0, 0.3);
  --text-shadow-light: -1px -1px 1px rgba(0, 0, 0, 0.1),
    1px -1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Vollkorn";
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
